/*
black: #000000ff;
white: #ffffffff;
verylightgrey: #d9d9d9ff;
lightgrey: #aaaaaaff;
mediumgrey: #7a7a7aff;
darkgray: #202020ff;
red: #de4040ff;
blue: #2d42ffff;
green: #79ff5eff;
darkred: #561010ff;
darkblue: #0b1575ff;
darkgreen: #2b8d18ff;
cyan: #29ffffff;
magenta: #de37ffff;
yellow: #f6f675ff;
darkcyan: #006b6bff;
darkmagenta: #66007aff;
darkyellow: #757501ff;
*/

* {
  border: none;
  border-radius: 0px;
  font-family: "Caskaydia Cove Nerd Font";
  font-weight: bold;
  font-size: 12px;

  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: black;
}

tooltip {
  color: #ffffff;
  background: #202020;
  border-color: #de4040;
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
}

#tray,
#battery,
#workspaces button {
  color: #ffffff;

  border-radius: 0px;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray,
#battery,
#workspaces {
  margin-top: 6px;
  margin-bottom: 6px;
}

#workspaces button {
  background: #de4040;
  color: #ffffff;
}

#workspaces button.active {
  background: #79ff5e;
  color: #202020;
}

#workspaces button:hover {
  background: #0B1575;
  color: #ffffff;
}

#battery.warning:not(.charging) {
  background-color: #f6f675;
  color: black;
}

@keyframes blink {
  to {
    background-color: #561010;
  }
}

#battery.critical:not(.charging) {
  background-color: #de4040;

  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#tray {
  background: #0B1575;
}

.modules-left > widget > *,
.modules-right > widget > *,
.modules-center > widget > * {
  opacity: 1;
  margin: 3px 0px 3px 0px;
  border-radius: 0px;
  padding: 0 6px;
}

.modules-left:first-child {
  margin-left: 6px;
}

.modules-right:last-child {
  margin-right: 6px;
}

#custom-spotify {
  margin-right: 25px;
  margin-left: 25px;
}
