* {
  border: none;
  border-radius: 0px;
  font-family: "Caskaydia Cove Nerd Font";
  font-weight: bold;
  font-size: 12px;

  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: black;
}

#workspaces button,
#battery {
  color: #ffffff;

  border-radius: 0px;
  border-width: 0px;
  border-style: solid;

  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}


tooltip {
  color: #ffffff;
  background: #202020;
  border-color: #de4040;
  border-radius: 0px;
  border-width: 2px;
  border-style: solid;
}

#workspaces button {
  color: #ffffff;
  /*background: #000000;*/
  background: #2d42ff;
}

#workspaces button.active {
  background: #de4040;
  border-color: #de4040;
}

#workspaces button:hover {
  background: #79ff5e;
  color: #202020;
  /*border-color: #79ff5e;*/
}

.modules-left > widget > *,
.modules-right > widget > *,
.modules-center > widget > * {
  color: #ffffff;
  background: #000000;
  opacity: 1;
  margin: 3px 0px 3px 0px;
  border-radius: 10px;
}

.modules-left > widget > *,
.modules-right > widget > * {
  padding: 0 6px;
}

.modules-left:first-child {
  margin-left: 6px;
}

.modules-right:last-child {
  margin-right: 6px;
}

#custom-spotify {
  margin-right: 25px;
  margin-left: 25px;
}


#tray {
  padding: 0 4px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 2px;
  margin-right: 2px;
}

#battery.warning:not(.charging) {
    background-color: #f6f675;
    color: black;
}

@keyframes blink {
    to {
        background-color: #561010;
    }
}

#battery.critical:not(.charging) {
    background-color: #de4040;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
